@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --important: rgb(3, 25, 47);
    --bg: rgb(7, 35, 64);
    --main-color: rgb(235, 230, 208);
    --border: .2rem solid rgb(3, 141, 139);
}
html::-webkit-scrollbar{
    inline-size: .8rem;
    color: var(--main-color);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--important);
}
html::-webkit-scrollbar-track{
    background-color: var(--main-color);
}
*{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .018rem;
}

html{

    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-block-start: 5rem;
    scroll-behavior: smooth;
}
body{
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    top: 0;
    right: 0;
    left: 0;
    padding: 0; margin: 0;
    inline-size: 100vw;
}

header{
    block-size: 6rem;
    inline-size: auto;
    top: 0; right: 0; left: 0;
    background-color: var(--important);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 3rem;
    position: fixed;
    z-index: 10000;

}
header .logo{
    font-size: 4rem;
    color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
}
header .nav-bar{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    inline-size: 50rem;
    block-size: 6rem;
}

header .nav-bar a{
    margin: 0 3rem;
    padding: .4rem;
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.6rem;

}

header .nav-bar a:hover{
    border-bottom: var(--border);
    color: rgb(3, 141, 139);
}

/* header .cornerBar connect-buttons{
    inline-size: auto;
    padding: .8rem;
    background-color: magenta;
    outline: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 3rem;

} */
/* header .cornerBar button:hover{
    color: var(--bg);
} */

.cornerBar{
    display: flex;
    inline-size: auto;
    align-items: center;
    justify-self: center
}
.cornerBar #search-btn{
    font-size: 3rem;
    color: var(--main-color);
    margin: 0 .5rem;
}

/* FOR JS */

.cornerBar #search-btn.inactive{
    display: none;
}

/* FOR JS */

.cornerBar #menu-bar, .cornerBar #close-bar{
    font-size: 4rem;
    color: var(--main-color);
    display: none;
    margin: 0 .5rem;
}

.cornerBar #addPost-bar, #adminLogout, #adminLogin{
    font-size: 3rem;
    color: var(--main-color);
    margin: 0 .5rem;
}

#close-editSection{
    position: absolute;
    right: 2rem;
    top: 0rem;
    padding: .7rem;
    color: var(--important);
    cursor: pointer;

}

#close-editSection:hover{
    background-color: red;
    color: white;
}


.cornerBar #menu-bar:hover, .cornerBar #search-btn:hover, .cornerBar #close-bar:hover, .cornerBar #addPost-bar:hover, #adminLogout:hover, #adminLogin:hover{   background-color: rgb(3, 141, 139);
    color: var(--important);
    cursor:pointer;
    border-radius: .8rem;
}

header .cornerBar .searchBar{
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    block-size: 2.5rem;
    inline-size: 25rem;
    padding: .3rem;
    display: none;
    margin: 0 .8rem;
    border: var(--border);
}

header .cornerBar .searchBar.active{
    display: flex;
}

header .cornerBar .searchBar input{
    border: none;
    outline: none;
    block-size: 2rem;
    inline-size: 24rem;
    font-size: 1.3rem;
}

header .cornerBar .searchBar #search-btn-real{
    background-color: var(--important);
    font-size: 2rem;
    block-size: 2.3rem;
    inline-size: 2.3rem;
    background-color: rgb(3, 141, 139);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; margin: 0;
}

header .cornerBar .searchBar #search-btn-real:hover{
    border-radius: 0rem;
    background-color: rgb(3, 141, 139);
    cursor: pointer;
    color: var(--important);
}
.blog-page{
    position: relative;
    inline-size: 100vw;
    block-size: auto;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog-page .title{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
}

.blog-page .addiTitle{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.blog-page .blog-skin{
    block-size: auto;
    display: grid;
    grid-template-columns: 40rem 40rem;
    margin: auto auto;
    gap: 10rem;
}

.blog-page .blog-skin .blog-section{
    block-size: auto;
    inline-size: 40rem;
}
.blog-page .blog-skin .blog-section img{
    inline-size: 40rem;
    
}
.blog-page .blog-skin .blog-section .topic{
    font-size: 2rem;
    color: var(--important);
}

.blog-page .blog-skin .blog-section .date{
    font-size: .9rem;
}

.blog-page .blog-skin .blog-section .blog-post{
    font-size: 1.1rem;
    text-align: justify;
}

.blog-page .blog-skin .blog-section a{
    text-decoration: none;
    color: black;
}

.blog-page .blog-skin .blog-section .formatPOST{
    display: flex;
}

.blog-page .blog-skin .blog-section .formatPOST div{
    background-color: pink;
    block-size: 2rem;
    inline-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .5rem;
    padding: .4rem;
    font-weight: 700;
    color: rgb(37, 37, 37);
}

.blog-page .blog-skin .blog-section .formatPOST div:hover{
    color: var(--main-color);
    background-color: rgb(117, 72, 80);
}

.blog-page .page-count{
    display: flex;
    flex-direction: row;
    margin: 3rem
}


.blog-page .page-count .pages{
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;

}

.blog-page .page-count .pages:hover{
    background-color: rgb(247, 206, 206);
}

footer{
    background-color: rgb(44, 43, 43);
    block-size: 50vh;
}


/* ARTICLE SECTION */
.article-main{
    inline-size: 72vw;
    block-size: auto;
    margin: 6rem auto 2rem auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.article-main .category{
    font-size:2rem;
    font-weight: 800;
    padding-top: 1rem;
}


.article-main .meta-section{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    color: var(--important);
    font-weight: 700;
}

.article-main .meta-section div{
    margin-left: 2rem;
    margin-right: .5rem;
    color: rgb(212, 77, 100);
}
.article-main img{
    inline-size: 72vw;
}

.article-main .article-body{
    margin: 2rem 0;
}

.article-main p{
    font-size: 1.4rem;
    text-align: justify;
}

.article-main p span{
    font-weight: 900;
}

.article-main .author{
    block-size: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5rem 0;
}

.article-main .author img{
    inline-size: 15rem;
    block-size: 16rem;
    border-radius: 2rem;

}

.article-main .author .about-author{
    background-color: rgb(238, 238, 238);
    inline-size: 100%;
    block-size: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 2rem;
    
}

.article-main .author .about-author h3{
    font-size: 2rem;
    color: var(--important);
    margin-bottom: 0;
}

.article-main .author .about-author p{
    font-size: 1.2rem;
    color: var(--bg);
}

.article-main .author .about-author div{
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: auto;
}

.article-main .author .about-author div a{
    text-decoration: none;
    cursor: pointer;
    color: var(--important);
    margin: 0 .5rem;

}

.article-main .author .about-author div a div:hover{
    color: rgb(212, 77, 100);
}


.posts-count{
    inline-size: 72vw;
}

.posts-count div{
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}

.posts-count .previous-next a{
    text-decoration: none;
}

.posts-count .previous-next a div{
    background-color: #ccc;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: .5rem;
    font-weight: 900;
    color: var(--important);
    cursor: pointer;
}
.posts-count .previous-next a div:hover{
    background-color: rgb(212, 77, 100);
    color: rgb(231, 228, 228);
}
.posts-count .previous-next-topic a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--important);
    font-weight: 500;

}
.posts-count .previous-next-topic a:hover{
    color: rgb(212, 77, 100);
}

.comment-section{
    inline-size: 72vw;
    block-size: auto;
    margin: 3rem 0 2rem 0;
    background-color: rgb(238, 238, 238);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 2rem;

}

.comment-section h3{
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--important);
    padding: .5rem;
    color: rgb(238, 238, 238);
    border-radius: .2rem;
}

.comment-section .comment-and-reply{
    margin-bottom: 2rem;
    inline-size: 70vw;
}

.comment-section .comment-and-reply .comments-section-real, .comment-section .comment-and-reply .reply{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    inline-size: 60vw;
}
.comment-section .comment-and-reply .reply{
    margin-left: 4rem;
    inline-size: 64.5vw;
}

.comment-section .comment-and-reply .comments-section-real .comment-body{
    padding: 1rem;
    background-color: rgb(3, 25, 47);
    border-radius: 5rem;
    min-block-size: 3rem;
    padding: 1rem;
    color: white;
    font-weight: 600;
}
.comment-section .comment-and-reply .reply .reply-body{
    padding: 1rem;
    background-color: rgb(164, 180, 196);
    border-radius: 5rem;
    min-block-size: 3rem;
    padding: 1rem;
    color: var(--important);
    font-weight: 600;
}

.dropcommentSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    inline-size: 72vw;
    border-radius: 2rem;
    background-color:rgb(238, 238, 238);
}

.dropcommentSection h3{
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--important);
    padding: .5rem;
    color: rgb(238, 238, 238);
    border-radius: .2rem;
}

.dropcommentSection .drop-comment{
    block-size: auto;
    display: inline;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2rem 0;
}


.dropcommentSection .drop-comment label{
    font-weight: 600;
    font-size: 1.3rem;
}

.dropcommentSection .drop-comment input{
    inline-size: 55vw;
    margin: auto;
    block-size: 2rem;
    outline: none;
    border: none;
    border-bottom: var(--border);
    font-weight: 500;
    font-size: 1.2rem;
}

.dropcommentSection .drop-comment input:hover{
    background-color: #ccc;
}

.dropcommentSection textarea{
    padding: 2rem;
    background-color: #ccc;
    min-inline-size: 60vw;
    max-inline-size: 60rem;
    border: none;
    outline: none;
    min-block-size: 10rem;
    max-block-size: 10rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.dropcommentSection button{
    padding: .5rem;
    margin: 2rem 0;
    background-color: rgb(3, 25, 47);
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    border: none;


}

.dropcommentSection button:hover{
    background-color: rgb(212, 77, 100);
    color: rgb(241, 240, 240);
}






/* ARTICLE SECTION */

/* ADD POST */

.blog-page .editSection{
    padding: 2rem;
    inline-size: 50vw;
    block-size: auto;
    position: fixed;
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    bottom: 0; right: -100%; top: 10rem;
}

.blog-page .editSection.active{
    right: 0;
}

.blog-page .editSection div{
    display: flex;
    margin: 2rem 0;

}
.blog-page .editSection div label{
    font-size: 1.3rem;
    font-weight: 600;
    margin: .3rem;
    white-space: nowrap;

}

.blog-page .editSection .inputTopic #inputTopic{
    inline-size: 100%;
    border: none;
    outline: none;
    block-size: 2rem;
    border-bottom: var(--border);
    background-color: #ccc;
}

.blog-page .editSection .inputImage{
    display: flex;
    align-items: center;
}
.blog-page .editSection .inputText{
    display: flex;
    flex-direction: column;
}

.blog-page .editSection .inputText #inputText{
    border:var(--border);
    inline-size: 98%;
    min-block-size: 46vh;
}

.blog-page .editSection button{
    background-color: pink;
    block-size: 2rem;
    inline-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .5rem;
    padding: 1.2rem 1rem;
    font-weight: 700;
    color:rgb(37, 37, 37);
    border-radius: .4rem;
    border: none;
    outline: none;
}
    
.blog-page .editSection button:hover{
    color: var(--main-color);
    background-color: rgb(117, 72, 80);
 }
    

/* ADD POST */




@media (max-width:1300px) {

    header{
        margin: 0;
        padding: 0 2rem;
    }
    header .nav-bar{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position:absolute;
        inline-size: 100vw;
        block-size: 100vh;
        background-color: var(--important);
        padding: auto auto;
        top: -100vh; right: 0; left: 0;
        align-items: center;
    }

    header .nav-bar a{
        padding: 2rem 1rem;
        inline-size: 80vw;
    }

    header .nav-bar a:hover{
        border: var(--border);
    }

    header .nav-bar.active{
        top: 6rem;
    }

    .cornerBar #menu-bar{
        display: flex;
    }

    .cornerBar #close-bar.active{
        display: flex;
    }
    .cornerBar #search-btn{
        padding: .5rem;
    }

    header .cornerBar .searchBar{
        block-size: 3rem;
        inline-size: 100vw;
        z-index: 2000;
        position: absolute;
        top: 6rem;
        right: 0; left: 0;
    }
    header .cornerBar .searchBar.active{
        margin: 0;
    }

    header .cornerBar .searchBar input{
        inline-size: 80vw;
    }
    
    
    header .cornerBar .searchBar #search-btn-real{
        background-color: var(--important);
        font-size: 3rem;
        block-size: 3rem;
        inline-size: 3rem;
    }
    .blog-page{
        margin: auto;
    }

    .blog-page .title{
        inline-size: 95%;
    }
    
    .blog-page .addiTitle{
        font-size: 1.2rem;
        inline-size: 95%;
    }
    .article-main .author .about-author div a div{
        font-size: 2.5rem;
    
    }
    

    /*START*/

    .blog-page .blog-skin{
        grid-template-columns: 45% 45%;
        inline-size: 100vw;
        margin: auto auto;
        gap: 5%;
        padding: 2%;
    }
    
    .blog-page .blog-skin .blog-section{
        block-size: auto;
        inline-size: 100%;
        margin: auto auto;
        padding: auto auto;
    }
    .blog-page .blog-skin .blog-section img{
        inline-size: 100%;
        
    }
    .blog-page .blog-skin .blog-section .topic{
        font-size: 1.7rem;
    }
    
    
    .blog-page .blog-skin .blog-section .formatPOST a .read-more, .blog-page .blog-skin .blog-section .formatPOST .editPost, .blog-page .blog-skin .blog-section .formatPOST .deletePost{
        block-size: 2.5rem;
    }


    

    
}

@media (max-width:767px){
    html{
        zoom: 86%
    }
    body{
        margin: auto;
    }
    
    
    .blog-page{
        margin: auto;
    }
    .blog-page .blog-skin{
        grid-template-columns: 90%;
        inline-size: 90%;
        gap: 3rem;
    }
    
    .blog-page .blog-skin .blog-section{
        block-size: auto;
        inline-size: 90vw;
    }
    .blog-page .blog-skin .blog-section img{
        inline-size: 90vw;
        
    }

    .article-main{
        inline-size: 90vw;

    }

    .article-main p{
        font-size: 1.5rem;
    }

    .article-main .author{
       flex-direction: column;
       gap: 0;
       block-size: auto;
       margin-top: 8rem;
    }

    .article-main .author .about-author{
        block-size: 20rem;
        
    }
   
    .article-main .author img{
        zoom:  60%;
        position: absolute;
        top: -8rem;
        border-radius: 50%;
    }
    .article-main .author .about-author{
        font-size: 1rem;
        
    }

    .posts-count{
        inline-size: 90vw;
    }

    .comment-section{
        inline-size: 90vw;
        block-size: auto;
    }

    .comment-section .comment-and-reply .comments-section-real .comment-body{
        border-radius: 2rem;
    }
    .comment-section .comment-and-reply .reply .reply-body{
        border-radius: 2rem;
    }

    .blog-page .editSection{
        inline-size: 88vw;
        border-radius: 0;
    }

}